body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

ul {
    padding: 0;
}

header {
    height: 100px;
    line-height: 100px;
}

header img {
    height: 40px;
}


.star-box {
    padding: 30px 0;
    border-bottom: 2px solid #000000;
}
.title-box {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.counterW {margin:0 0 0 60px;}
.ratingW {position:relative; margin:10px 0 0;}
.ratingW li {display:inline-block; margin:0px;}
.ratingW li a {display:block; position:relative;}

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right: .3em solid transparent;
    border-bottom: .7em  solid #ddd;
    border-left: .3em solid transparent;
    /* Controlls the size of the stars. */
    font-size: 20px;
}
.star:before, .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: .7em  solid #ddd;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}


.ratingW li.on .star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right: .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left: .3em solid transparent;
    /* Controlls the size of the stars. */
    font-size: 20px;
}
.ratingW li.on .star:before, .ratingW li.on .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.ratingW li.on .star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}


/*.modal-body {*/
/*    padding: 1.5rem 1rem;*/
/*}*/

/*.modal-footer {*/
/*    padding: 0 0.75rem;*/
/*}*/

.result-txt {
    text-align: center;
}
.select-wrapper {
    margin: 5px 0 15px;
}
.q-wrapper {
    display: flex;
    margin: 5px -5px;
}
.q-box {
    flex: 1 1 0;
    margin: 0 5px 0 5px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center; ;
    align-items: center;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: grey;
}



.comment-txt {
    font-size: 1rem;
}

.btn.btn-confirm {
    height: 45px;
    border-radius: 24px;
    margin: 20px 0;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 200px);
}

.btn.btn-confirm.small-btn {
    width: 200px;
}

.black {
    background-color: black;
}